.comment-list {

    .comment-body {
        display: inline-block;
        // height: auto;
        // max-width: 50%;
        background-color: rgba(226, 225, 225, 0.541);
        border-radius: 50px;
        padding: 10px;
        word-wrap: break-word;
        // word-break: break-all;
    }
    
    .comment-edit-form {
        width: 100%;
        border-radius: 50px;
        background-color: rgba(226, 225, 225, 0.541);
        padding: 12px;
        cursor: pointer;
        z-index: 10;
    }
}

.profile-picture {
    border-radius: 50px;
    height: 30px;
    width: 30px;
    object-fit: cover;
}