.comment-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 5px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    .profile-picture {
        align-self: flex-start;
        border-radius: 50px;
        height: 35px;
        width: 35px;
        object-fit: cover;
    }
    // img {
    //     align-self: flex-start;
    // }
        
    .comment-body {
        // display: inline-block;
        // height: auto;
        background-color: rgba(226, 225, 225, 0.541);
        border-radius: 15px;
        padding: 10px;
        // word-wrap: break-word;
        font-size: 16px;
        // word-break: break-all;
    }

    .comment-body::first-line {
        font-weight: bold;
    }

    .comment-like {
        position: relative;
        font-size: 13px;
        font-weight: 600;
        top: 5px;
        left: 10px;
    }
    
    .comment-edit-form {
        width: 100%;
        border-radius: 50px;
        background-color: rgba(226, 225, 225, 0.541);
        padding: 12px;
        cursor: pointer;
        // z-index: 10;
    }

    .comment-escape {
        position: relative;
        font-size: 13px;
        left: 20px;
        margin-top: 5px;
    }
    .comment-edit-button {
        position: relative;
    // position: relative;
    // line-height: 0;
    // height: auto;
    // width: 50px;

        .button {
            // line-height: 0;
            position: relative;
            top: -6px;
            font-size: 20px;
            border-radius: 50px;
            height: 25px;
            width: 25px;
            line-height: 0.9;
            padding-left: 8px;
            cursor: pointer;
        }

        .button:hover {
            background-color: rgba(226, 225, 225, 0.541);
        }

        .comment-edit-options {
            position: absolute;
        }
    }
}

.newsfeed-posts {

    .comment-create-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
        margin-top: 10px;
    
    
        .profile-picture {
            // align-self: center;
            border-radius: 50px;
            height: 35px;
            width: 35px;
            object-fit: cover;
        }
    
        .commentInput {
            // margin-bottom: 10px;
            outline: none;
            font-size: 16px;
            // position: relative;
            // top: 10px;
            border-radius: 50px;
            // width: 500px;
            width: 100%;
            height: 40px;
            background-color: rgba(226, 225, 225, 0.541);
            padding: 12px;
            color: rgb(92, 92, 92);
            cursor: pointer;
            // margin-top: 50px;
    
        }
    }
}