.greeting-header {
    position: fixed;
    // border: 2px solid black;
    background-color: white;
    box-shadow: 0 0 5px rgb(207, 207, 207);
    height: 60px;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .greeting-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;

        .we-button {
            border: 2px solid black;
            height: 50px;
            width: 50px;
        }
    
        .searchbar {
            border: 2px solid black;
            height: 50px;
            width: 50px;
        }
    }

    .greeting-center {
        display: flex;
        flex-direction: row;
        justify-content: center;

        gap: 50px;

        .github {
            border: 2px solid black;
            height: 50px;
            width: 50px;
        }
    
        .linkedin {
            border: 2px solid black;
            height: 50px;
            width: 50px;
        }
    
        .portfolio {
            border: 2px solid black;
            height: 50px;
            width: 50px;
        }
    }

    .greeting-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 20px;

        .profile-button {
            border: 2px solid black;
            height: 50px;
            width: 50px;
        }
    
        .notification {
            border: 2px solid black;
            height: 50px;
            width: 50px;
        }
        
        .account-button {
            border: 2px solid black;
            height: 50px;
            width: 50px;

            .menu-open {
                position: absolute;
                border: 2px solid black;
                height: 100px;
                width: 200px;
                top: 60px;
                right: 17px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .profile-button {

                }

                .logout-button {

                }
            }
        }
    }
}