.newsfeed {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // column-gap: 10px;
    top: 100px;

    .newsfeed-left {
        // border: 1px solid black;
        height: 696px;
        // width: 25vw;
        width: 25%;
        padding: 20px;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .newsfeed-left-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 10px;
            padding: 5px;
            border-radius: 10px;

            img {
                border-radius: 50px;
                height: 45px;
                width: 45px;
                object-fit: cover;
            }

            p {
                font-size: 17px;
                font-weight: 500;
                background-color: transparent;
            }
        }

        .newsfeed-left-buttons:hover {
            background-color: rgba(226, 225, 225, 0.541);
        }
    }

    .newsfeed-right {
        // border: 1px solid black;
        height: 696px;
        // width: 25vw;
        width: 25%;
        padding: 20px;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        font-size: 25px;
        font-weight: 500;
        overflow: scroll;

        hr {
            color: black;
        }

        .newsfeed-right-friends {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 10px;
            padding: 5px;
            border-radius: 10px;

            img {
                border-radius: 50px;
                height: 45px;
                width: 45px;
                object-fit: cover;
            }

            p {
                font-size: 17px;
                font-weight: 500;
                background-color: transparent;
            }
        }

        .newsfeed-right-friends:hover {
            background-color: rgba(226, 225, 225, 0.541);
        }
    }

    .newsfeed-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        // position: absolute;
        // flex-wrap: wrap;
        // top: 100px;
        // row-gap: 30px;
        // left: 27%;
        // height: 120vh;
        width: 50%;
        height: 696px;
        overflow: scroll;
        

        // justify-content: center;

        .create-post {
            border: 1px solid rgb(231, 231, 231);
            box-shadow: 0 1px 2px rgb(207, 207, 207);
            border-radius: 10px;
            // position: relative;
            text-align: center;
            // margin: auto;
            height: 125px;
            // width: 680px;
            width: 95%;
            background-color: white;
            // z-index: 5;
            // top: 5px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
            
            .profile-picture {
                border-radius: 50px;
                height: 40px;
                width: 40px;
                object-fit: cover;
            }

            .create-button {
                position: relative;
                display: inline-block;
                background-color: white;
                border-radius: 50px;
                // width: 500px;
                width: 86.7%;
                height: 40px;
                top: 20px;
                background-color: rgba(226, 225, 225, 0.541);
                padding: 12px;
                color: rgb(92, 92, 92);
                cursor: pointer;
                // margin-top: 50px;
                margin-bottom: 40px;
            }

            .create-button:hover {
                background-color: rgba(194, 194, 194, 0.479);
            }


        }

        .close-post {
        height: 125px;
        width: 680px;

            .close-X {
                height: 5px;
                width: 5px;

                .form {


                    .textarea {
                        height: 100px;
                        width: 100px;
                        background-color: black;
                    }
                }

            }
        }

        .newsfeed-posts * {
            background-color: white;
        }

        .newsfeed-posts {
            width: 95%;

            .post {
                padding: 20px;
                border: 1px solid rgb(231, 231, 231);
                box-shadow: 0 1px 2px rgb(207, 207, 207);
                border-radius: 10px;
                font-size: 20px;
                height: auto;
                // width: 47.5vw;
                margin: 0;
                margin-bottom: 20px;
                position: relative;

                .post-top {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .post-top-left {
                        display: flex;
                        flex-direction: row;
                        width: auto;

                        .profile-picture {
                            border-radius: 50px;
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                        }
    
                        .post-nameAndDate {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-left: 10px;

                            .post-name {
                                font-size: 15px;
                                font-weight: bold;

                            }

                            .post-name:hover {
                                text-decoration: underline;
                            }

                            span {
                                font-size: 15px;
                                // font-size: 50px;
                            }

                            .post-date {
                                font-size: 15px;
                            }
                        }
                    }

                    .post-edit-button {
                        position: relative;
                        // line-height: 0;
                        // height: auto;
                        // width: 50px;

                        .button {
                            // line-height: 0;
                            font-size: 40px;
                            border-radius: 50px;
                            height: 30px;
                            width: 30px;
                            line-height: 0.35;
                            padding-left: 4.5px;
                            cursor: pointer;
                        }

                        .button:hover {
                            background-color: rgba(226, 225, 225, 0.541);
                        }
                    }
                    
                    .post-edit-options {
                        position: absolute;
                        top: 32px;
                        height: auto;
                        width: 70px;
                        right: 0;
                        box-shadow: 0 1px 2px #cfcfcf;
                        padding: 5px;
                        border-radius: 10px;
                        cursor: pointer;

                        p {
                            border-radius: 5px;
                            padding-left: 3px;
                        }

                        p:hover {
                            background-color: rgba(226, 225, 225, 0.541);
                        }
                    }
                    
                }

                .post-body {
                    height: 50px;
                }

                .post-picture {
                    width: 100%;
                    height: auto;
                }

                .comment-like {
                    // position: absolute;
                    font-size: 13px;
                    font-weight: 600;
                    top: 5px;
                    // left: 10px;
                    display: inline-block;
                    position: relative;
                    left: 10px;
                }

                .comment-liked {
                    // position: relative;
                    font-size: 13px;
                    font-weight: 900;
                    top: 5px;
                    // left: 10px;
                    display: inline-block;
                    color: #1475f3;
                    position: relative;
                    left: 10px;
                }

                .comment-like-count {
                    position: relative;
                    // border: 1px solid red;
                    // height: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    height: 13px;

                    div {
                        position: relative;
                        top: -10px;
                        background-color: transparent;
                        display: inline-table;
                        left: 10px;


                        img {
                            width: 25px;
                            height: auto;
                            border-radius: 50px;
                            object-fit: cover;
                            margin-right: 2px;
                        }
    
                        p {
                            // left: 100%;
                            // position: relative;
                            top: -13px;
                            display: inline-block;
                            background-color: transparent;
                        }
                    }
                }

                .post-like-count {
                    position: relative;
                    left: 5px;
                    background-color: transparent;
                    display: flex;
                    flex-direction: row;
                    column-gap: 5px;
                    margin-bottom: 5px;

                    img {
                        width: 20px;
                        height: auto;
                        border-radius: 50px;
                        object-fit: cover;
                    }
                    
                    p {
                        display: inline-block;
                    }
                }

                .likeAndComment {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin: 2px;
                    height: auto;
                    
                    .post-like {
                        height: 35px;
                        width: 50%;
                        text-align: center;
                        line-height: 2;
                        border-radius: 5px;
                        cursor: pointer;

                    }

                    .post-like:hover {
                        background-color: rgba(236, 236, 236, 0.541);
                    }
                    
                    .post-liked {
                        height: 35px;
                        width: 50%;
                        text-align: center;
                        line-height: 2;
                        border-radius: 5px;
                        cursor: pointer;
                        color: #1475f3;
                        font-weight: 900;
                    }

                    .post-liked:hover {
                        background-color: rgba(236, 236, 236, 0.541);
                    }

                    .post-comment {
                        height: 35px;
                        width: 50%;
                        text-align: center;
                        line-height: 2;
                        border-radius: 5px;
                        cursor: pointer;
                    }

                    .post-comment:hover {
                        background-color: rgba(236, 236, 236, 0.541);
                    }
                }

                // .commentInput {
                //     position: relative;
                //     top: 10px;
                //     border-radius: 50px;
                //     // width: 500px;
                //     width: 100%;
                //     height: 40px;
                //     background-color: rgba(226, 225, 225, 0.541);
                //     padding: 12px;
                //     color: rgb(92, 92, 92);
                //     cursor: pointer;
                //     // margin-top: 50px;
                // }

                hr {
                    color: rgba(146, 146, 146, 0.541);
                }
            }
        }

    }

    @media only screen and (max-width: 1100px) {
        .newsfeed-left {
            display: none;
        }

        .newsfeed-middle {
            width: 70%;

        }

        .newsfeed-right {
            width: 30%;
        }
    }

    @media only screen and (max-width: 900px) {
        .newsfeed-left {
            display: none;
        }

        .newsfeed-middle {
            width: 100%;

            .create-post {
                width: 75%;
            }
            
            .newsfeed-posts {
                width: 75%;
            }

        }

        .newsfeed-right {
            display: none;
        }
    }

    @media only screen and (max-width: 700px) {
        .newsfeed-left {
            display: none;
        }

        .newsfeed-middle {
            width: 100%;

            .create-post {
                width: 100%;
            }
            
            .newsfeed-posts {
                width: 100%;
            }

        }

        .newsfeed-right {
            display: none;
        }
    }

    // @media only screen and (max-width: 600px) {
    //     .newsfeed-left {
    //         display: none;
    //     }

    //     .newsfeed-middle {
    //         width: 100%;

    //     }

    //     .newsfeed-right {
    //         display: none;
    //     }
    // }


}

// .profile-feed {
//     display: flex;
//     flex-direction: column;
//     // position: relative;
//     flex-wrap: wrap;
//     top: 100px;
//     gap: 30px;

//         .create-post {
//         background-color: white;
//         border: 1px solid rgb(231, 231, 231);
//         box-shadow: 0 1px 2px rgb(207, 207, 207);
//         border-radius: 10px;
//         // position: absolute;
//         text-align: center;
//         margin: auto;
//         height: 125px;
//         width: 500px;
//         // z-index: 5;
//         // top: -100px;
        
//         div {
//             // position: absolute;
//             display: inline-block;
//             background-color: white;
//             border-radius: 5%/50%;
//             width: 400px;
//             height: 40px;
//             top: 30px;
//             background-color: rgba(226, 225, 225, 0.541);
//             padding: 12px;
//             color: rgb(92, 92, 92);
//             cursor: pointer;
//             position: relative;
//         }


//     }

//     .newsfeed-posts {

//         .post {
//             background-color: white;
//             border: 1px solid rgb(231, 231, 231);
//             box-shadow: 0 1px 2px rgb(207, 207, 207);
//             border-radius: 10px;
//             // position: absolute;
//             text-align: center;
//             margin: auto;
//             height: 125px;
//             width: 500px;
//             top: 50px;
//         }
//     }
// }

/////////////////////////

.create-post-modal {
    position: absolute;
    top: 30%;
}

.edit-delete-button {
    position: absolute;
    top: 30%;
    height: 200px;
    width: 100px;

}

/////////////////////////

.profile-feed {
    display: flex;
    flex-direction: column;
    // position: relative;
    flex-wrap: wrap;
    top: 100px;
    gap: 20px;

        .create-post {
        border: 1px solid rgb(231, 231, 231);
        box-shadow: 0 1px 2px rgb(207, 207, 207);
        border-radius: 10px;
        // position: relative;
        text-align: center;
        // margin: auto;
        height: 81px;
        // width: 680px;
        width: 500px;
        background-color: white;
        // z-index: 5;
        // top: 5px;
        // margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
            
        .profile-picture {
            border-radius: 50px;
            height: 40px;
            width: 40px;
            object-fit: cover;
        }
        
        .create-button {
            position: relative;
            display: inline-block;
            background-color: white;
            border-radius: 50px;
            // width: 500px;
            // width: 450px;
            width: 81.7%;
            height: 40px;
            top: 20px;
            background-color: rgba(226, 225, 225, 0.541);
            padding: 12px;
            color: rgb(5, 3, 3);
            cursor: pointer;
            // margin-top: 50px;
            margin-bottom: 40px;
        }

        .create-button:hover {
            background-color: rgba(194, 194, 194, 0.479);
        }


    }

    .close-post {
    height: 125px;
    width: 680px;

        .close-X {
            height: 5px;
            width: 5px;

            .form {


                .textarea {
                    height: 100px;
                    width: 100px;
                    background-color: black;
                }
            }

        }
    }

    .newsfeed-posts * {
        background-color: white;
    }

    .newsfeed-posts {
        width: 500px;

        .post {
            padding: 20px;
            border: 1px solid rgb(231, 231, 231);
            box-shadow: 0 1px 2px rgb(207, 207, 207);
            border-radius: 10px;
            // font-size: 20px;
            height: auto;
            // width: 47.5vw;
            margin: 0;
            margin-bottom: 20px;

            .post-top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .post-top-left {
                    display: flex;
                    flex-direction: row;
                    width: auto;

                    .profile-picture {
                        border-radius: 50px;
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                    }

                    .post-nameAndDate {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 10px;

                        .post-name {
                            font-size: 15px;
                            font-weight: bold;
                        }

                        .post-name:hover {
                            text-decoration: underline;
                        }

                        span {
                            font-size: 15px;
                            // font-size: 50px;
                        }

                        .post-date {
                            font-size: 15px;
                        }
                    }
                }

                .post-edit-button {
                    position: relative;
                    // line-height: 0;
                    // height: auto;
                    // width: 50px;

                    .button {
                        // line-height: 0;
                        font-size: 40px;
                        border-radius: 50px;
                        height: 30px;
                        width: 30px;
                        line-height: 0.35;
                        padding-left: 4.5px;
                        cursor: pointer;
                    }

                    .button:hover {
                        background-color: rgba(226, 225, 225, 0.541);
                    }
                }
                
                .post-edit-options {
                    position: absolute;
                    top: 32px;
                    height: auto;
                    width: 70px;
                    right: 0;
                    box-shadow: 0 1px 2px #cfcfcf;
                    padding: 5px;
                    border-radius: 10px;
                    cursor: pointer;

                    p {
                        border-radius: 5px;
                        padding-left: 3px;
                    }

                    p:hover {
                        background-color: rgba(226, 225, 225, 0.541);
                    }
                }
                
            }

            .post-like-count {
                position: relative;
                // border: 1px solid red;
                left: 5px;
                background-color: transparent;
                display: flex;
                flex-direction: row;
                column-gap: 5px;
                margin-bottom: 5px;

                img {
                    width: 20px;
                    height: auto;
                    border-radius: 50px;
                    object-fit: cover;
                }

                p {
                    display: inline-block;

                }
            }

            .post-body {
                height: 50px;
            }

            .post-picture {
                width: 100%;
                height: auto;
            }

            .likeAndComment {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 2px;
                height: auto;
                
                .post-like {
                    height: 35px;
                    width: 50%;
                    text-align: center;
                    line-height: 2.5;
                    border-radius: 5px;
                    cursor: pointer;
                    
                }

                .post-like:hover {
                    background-color: rgba(236, 236, 236, 0.541);
                }

                .post-liked {
                    height: 35px;
                    width: 50%;
                    text-align: center;
                    line-height: 2.5;
                    border-radius: 5px;
                    cursor: pointer;
                    color: #1475f3;
                    font-weight: 900;
                }

                .post-liked:hover {
                    background-color: rgba(236, 236, 236, 0.541);
                }

                .post-comment {
                    height: 35px;
                    width: 50%;
                    text-align: center;
                    line-height: 2.5;
                    border-radius: 5px;
                    cursor: pointer;
                }

                .post-comment:hover {
                    background-color: rgba(236, 236, 236, 0.541);
                }
            }

            // .commentInput {
            //     position: relative;
            //     top: 10px;
            //     border-radius: 50px;
            //     // width: 500px;
            //     width: 100%;
            //     height: 40px;
            //     background-color: rgba(226, 225, 225, 0.541);
            //     padding: 12px;
            //     color: rgb(92, 92, 92);
            //     cursor: pointer;
            //     // margin-top: 50px;
            // }

            hr {
                color: rgba(146, 146, 146, 0.541);
            }
        }
    }


}
