.newsfeed {
    display: flex;
    flex-direction: column;
    position: absolute;
    flex-wrap: wrap;
    top: 100px;
    gap: 30px;
    left: 27%;

    // justify-content: center;

    .create-post {
        border: 1px solid rgb(231, 231, 231);
        box-shadow: 0 1px 2px rgb(207, 207, 207);
        border-radius: 10px;
        position: relative;
        text-align: center;
        margin: auto;
        height: 125px;
        width: 680px;
        background-color: white;
        // z-index: 5;
        top: 5px;
        
        div {
            position: relative;
            display: inline-block;
            background-color: white;
            border-radius: 5%/50%;
            width: 500px;
            height: 40px;
            top: 20px;
            background-color: rgba(226, 225, 225, 0.541);
            padding: 12px;
            color: rgb(92, 92, 92);
            cursor: pointer;

        }


    }

    .close-post {
    height: 125px;
    width: 680px;

        .close-X {
            height: 5px;
            width: 5px;

            .form {


                .textarea {
                    height: 100px;
                    width: 100px;
                    background-color: black;
                }

                .create-post-button {

                }
            }

        }
    }

    .newsfeed-posts {
        // border: 2px solid black;
        position: relative;
        margin: auto;
        height: 50px;
        width: 680px;
        display: flex;
        flex-direction: column;
        row-gap: 90px;

        .post {
            border: 1px solid rgb(231, 231, 231);
            box-shadow: 0 1px 2px rgb(207, 207, 207);
            border-radius: 10px;
            background-color: white;
            font-size: 20px;
            height: 200px;
            width: 680px;
            margin-bottom: 30px;

        }
    }

}

.profile-feed {
    display: flex;
    flex-direction: column;
    // position: relative;
    flex-wrap: wrap;
    top: 100px;
    gap: 30px;

        .create-post {
        background-color: white;
        border: 1px solid rgb(231, 231, 231);
        box-shadow: 0 1px 2px rgb(207, 207, 207);
        border-radius: 10px;
        // position: absolute;
        text-align: center;
        margin: auto;
        height: 125px;
        width: 500px;
        // z-index: 5;
        // top: -100px;
        
        div {
            // position: absolute;
            display: inline-block;
            background-color: white;
            border-radius: 5%/50%;
            width: 400px;
            height: 40px;
            top: 30px;
            background-color: rgba(226, 225, 225, 0.541);
            padding: 12px;
            color: rgb(92, 92, 92);
            cursor: pointer;
            position: relative;
        }


    }

    .newsfeed-posts {

        .post {
            background-color: white;
            border: 1px solid rgb(231, 231, 231);
            box-shadow: 0 1px 2px rgb(207, 207, 207);
            border-radius: 10px;
            // position: absolute;
            text-align: center;
            margin: auto;
            height: 125px;
            width: 500px;
            top: 50px;
        }
    }
}

.create-post-modal {
    position: absolute;
    top: 30%;
}