// .profile-edit-form {
//     position: relative;
//     z-index: 10;
// }

.profile-background {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    // border: 2px solid black;
    // box-shadow: 0 0 5px rgb(207, 207, 207);
    height: 625px;
    // z-index: 5;
    // background-color: blue;

    .background-shadow {
        position: absolute;
        top: 60px;
        height: 260px;
        width: 100%;
        // background: linear-gradient(to bottom, #176fd3 0%, #1f77db 11%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom, #929292 0%, #acacac 11%, rgba(255,255,255,1) 100%);
        z-index: 6;
    }

    .background-layer {
        position: absolute;
        background-color: white;
        height: 565px;
        width: 100%;
        z-index: 4;
    }
    
    .cover-photo {
        position: absolute;
        // border: 2px solid rgba($color: #247bdf, $alpha: 1.0);
        border-radius: 0 0 10px 10px;
        // background-color: rgba($color: #75b3fa52, $alpha: 1.0);
        // background-color: rgba(51, 129, 219, 0.438);
        // background-color: #247bdf42;
        background-color: #1475f3c2;
        height: 340px;
        // height: 30%;
        width: 65%;
        top: 60px;
        z-index: 6;
        // transform: translate(30%);
    }

    .profile-picture {
        position: absolute;
        border-radius: 50%;
        border: 4px solid white;
        // top: 365px;
        top: 59%;
        // left: 283px;
        left: 19.5%;
        height: 180px;
        width: 180px;
        object-fit: cover;
        z-index: 6;
        // object-position: 50% 50%;
        // background-size: 10px;
    }

    .profile-name {
        position: absolute;
        background-color: white;
        font-size: 35px;
        font-weight: 700;
        top: 69%;
        left: 480px;
        z-index: 6;
    }

    .friend-edit-button {
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: absolute;
        top: 79%;
        left: 65.3%;
        z-index: 6;
        background-color: transparent;

        .friend-button {
            // position: absolute;
            // border: 2px solid black;
            padding-top: 10px;
            font-size: 16px;
            font-weight: 600;
            color: white;
            height: 35px;
            width: 100px;
            // top: 62%;
            // left: 65.3%;
            z-index: 6;
            text-align: center;
            cursor: pointer;
            border-radius: 7px;
            background-color: rgba($color: #1475f3, $alpha: 1.0);
        }

        .friend-button:hover {
            background-color: #0369ee;
        }

        .requested-button {
            // position: absolute;
            // border: 2px solid black;
            padding-top: 10px;
            font-size: 16px;
            font-weight: 600;
            color: black;
            height: 35px;
            width: 100px;
            // top: 62%;
            // left: 65.3%;
            z-index: 6;
            text-align: center;
            border-radius: 7px;
            background-color: #dbdbdb;
            cursor: default;
        }

        .edit-button {
            // position: absolute;
            // border: 2px solid black;
            padding-top: 10px;
            font-size: 16px;
            font-weight: 600;
            color: black;
            height: 35px;
            width: 100px;
            // top: 62%;
            // left: 65.3%;
            z-index: 6;
            text-align: center;
            cursor: pointer;
            border-radius: 7px;
            background-color: rgba(226, 225, 225, 0.541);
        }

        .edit-button:hover {
            background-color: rgba(194, 194, 194, 0.479);
        }
    
        // .profile-edit-button2 {
        //     // position: absolute;
        //     padding-top: 10px;
        //     font-size: 16px;
        //     font-weight: 600;
        //     // border: 2px solid black;
        //     background-color: rgba($color: #dbdbdb, $alpha: 1.0);
        //     height: 35px;
        //     width: 100px;
        //     // top: 62%;
        //     // left: 88%;
        //     z-index: 6;
        //     text-align: center;
        //     cursor: pointer;
        //     border-radius: 7px;

        // }
    }

    .profile-fixed-bar {
        position: fixed;
        // border: 2px solid red;
        box-shadow: 0 0 5px rgb(207, 207, 207);
        background-color: white;
        height: 65px;
        width: 100%;
        top: 60px;
        z-index: 3;

        .profile-button {
            position: absolute;
            // background-color: rgb(165, 158, 158);
            // box-shadow: 0 1px 2px rgb(207, 207, 207);
            border-radius: 10px;
            // padding-top: 23px;
            // padding: 15px;
            height: 65px;
            // width: 150px;
            // top: 340px;
            left: 20%;
            font-size: 17px;
            font-weight: 500;
            // text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            column-gap: 10px;

            .profile-picture2 {
                border-radius: 50px;
                height: 43px;
                width: 43px;
                object-fit: cover;
                margin-left: 5px;
            }

            p {
                background-color: transparent;
                // height: 45px;
                // width: auto;
                margin-right: 10px;
            }  
        }

        .profile-button:hover {
            background-color: rgba(223, 223, 223, 0.651);
        }
    }

    .profile-hr {
        position: relative;
        // top: 70.7%;
        top: 563px;
        // margin-top: 15px;
        // margin-left: -19px;
        width: 100%;
        color: rgb(194, 194, 194);
        z-index: 5;
    }

    .profile-nav-bar {
        position: absolute;
        // border: 2px solid blue;
        box-shadow: 0 1px 2px rgb(207, 207, 207);
        height: 57px;
        width: 100%;
        top: 565px;
        // z-index: 4;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;

        div {
            // position: absolute;
            background-color: white;
            font-weight: 500;
            color: rgb(122, 122, 122);
            border-radius: 10px;
            padding-top: 18px;
            // padding: 15px;
            height: 55.5px;
            width: 100px;
            top: 3px;
            font-size: 17px;
            text-align: center;
            z-index: 2;
            cursor: pointer;
        }

        div:hover {
            background-color: rgba(223, 223, 223, 0.651);
        }
    }

    // .profile-fixed-bar {
        // position: fixed;
        // border: 2px solid red;
        // height: 60px;
        // width: 100%;
        // top: 500px;
    // }
}

.middle-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
    
    .middle-left-side {
        display: flex;
        flex-direction: column;
        gap: 15px 15px;
        // height: 110vh;


        .profile-edit {
            // border: 2px solid black;
            background-color: white;
            border: 1px solid rgb(231, 231, 231);
            box-shadow: 0 1px 2px rgb(207, 207, 207);
            border-radius: 10px;
            height: 400px;
            width: 355px;

            p {
                background-color: white;
                margin: 10px;
                padding: 10px;
                font-size: 20px;
                width: 94%;
            }

            p:first-child {
                font-size: 25px;
                font-weight: 700;
                border-bottom: 1px solid rgba($color: #dbdbdb, $alpha: 1.0);
            }

            p:nth-child(3) {
                width: 330px;
                // height: 150px;
                height: auto;
                max-height: 150px;
                overflow: scroll;
            }

            .profile-edit-button1 {
                position: absolute;
                padding-top: 10px;
                font-size: 16px;
                font-weight: 600;
                background-color: rgba(226, 225, 225, 0.541);
                height: 35px;
                width: 300px;
                margin-left: 26px;
                top: 980px;
                text-align: center;
                cursor: pointer;
                border-radius: 7px;
            }

            .profile-edit-button1:hover {
                background-color: rgba(194, 194, 194, 0.479);
            }
        }
        
        .user-friends {
            // border: 2px solid black;
            background-color: white;
            border: 1px solid rgb(231, 231, 231);
            box-shadow: 0 1px 2px rgb(207, 207, 207);
            border-radius: 10px;
            height: 373px;
            width: 355px;

            p {
                background-color: white;
                margin: 10px;
                padding: 10px;
                font-size: 25px;
                font-weight: 700;
                border-bottom: 1px solid rgba($color: #dbdbdb, $alpha: 1.0);
            }

            .user-friends-list {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 10px;
                background-color: white;
                padding: 12px;

                .user-friend {
                    object-fit: cover;
                    height: 103px;
                    width: 103px;
                    border-radius: 7px;
                    background-color: white;
                    // margin: 0;
                }

                .friend-name {
                    margin: 0;
                    padding: 5px;
                    font-size: 14px;
                    font-weight: 600;
                    background-color: white;
                    border-color: white;
                }

                .friend-name:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .middle-right-side {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // border: 2px solid black;
        // background-color: white;
        // border: 1px solid rgb(231, 231, 231);
        // box-shadow: 0 1px 2px rgb(207, 207, 207);
        // border-radius: 10px;
        // height: 1000px;
        width: 500px;
        margin: 0;
        padding: 0;
        border: 0;
        height: 110vh;
        overflow: auto;
    }
}    

// .friend-botton {
//     // position: relative;
//     border: 2px solid black;
//     top: 20%;
//     z-index: 10;
// }