// .profile-edit-form {
//     position: absolute;
//     height: 200px;
//     width: 200px;
//     background-color: black;
//     top: 30%;
// }

.modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(245, 245, 245, 0.7);
   z-index: 11;

//    .close-x {
//        position: absolute;
//        background-color: white;
//        cursor: default;
//        top: 15px;
//        right: 17px;
//        font-size: 25px;
//        font-weight: 900;
//     }

}

.profile-edit-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.session-form {
    position: absolute;
    border: 1.5px solid white;
    background-color: white;
    box-shadow: 0 0 7px rgb(207, 207, 207), 0 0 10px rgb(238, 238, 238);
    height: 410px;
    width: 430px;
    border-radius: 10px;
    padding: 2px;
    top: 130px;

    .title {
        font-size: 25px;
        font-weight: 600;
        width: 100%;
        text-align: center;
        background-color: transparent;
        position: relative;
        margin-top: 5px;

    }

    .cancel {
        position: absolute;
        background-color: white;
        cursor: pointer;
        top: 5px;
        right: 11px;
        font-size: 25px;
        font-weight: 900;
    }

    hr {
        color: rgb(219, 219, 219);
        margin-bottom: 20px;
    }

    .session-form-input {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        background-color: transparent;

        label {
            background-color: white;
            font-size: 20px;
            padding-left: 10px;

            input {
                margin-left: 10px;
                border: 1.5px solid rgb(212, 212, 212);
                border-radius: 5px;
            }

            textarea {
                margin-left: 10px;
                border: 1.5px solid rgb(212, 212, 212);
                border-radius: 10px;
                width: 95%;
                resize: none;
            }
        }

    }

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50px;
        margin-left: 44%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .empty-space {
        height: 50px;
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: transparent;
    }

    .select-picture {
        width: fit-content;
        margin-left: 27%;

    }

    .submit-cancel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: transparent;

        .submit {
            background-color: #1475f3;
            color: white;
            padding: 7px;
            border-radius: 5px;
            margin-top: 15px;
            font-weight: 500;
            width: 90%;
            text-align: center;

        }

        .submit:hover {
            background-color: #0369ee;
        }
    }
}

