 .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(245, 245, 245, 0.7);
   z-index: 10;
 }

 .modal-child {
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .close-x {
   position: absolute;
   top: -35px;
   right: -190px;
   cursor: default;
   z-index: 10;
 }

.signup-box {
    position: absolute;
    border: 1.5px solid white;
    background-color: white;
    box-shadow: 0 0 7px rgb(207, 207, 207), 0 0 10px rgb(238, 238, 238);
    height: 400px;
    width: 400px;
    border-radius: 10px;
    padding: 2px;

    * {
        background-color: white;
    }

    h2 {
        font-size: 35px;
        font-weight: 700;
    }

    input {
        border: 1.5px solid rgb(212, 212, 212);
        font-size: 20px;
        padding: 10px;
        width: 372px;
        margin: 10px;
        border-radius: 10px;

    }

    input:focus::placeholder {
        color: rgba($color: #c4c4c4, $alpha: 1.0);
    }

    button {
        background-color: rgba($color: #1475f3, $alpha: 1.0);
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        padding: 10px;
        width: 372px;
        margin: 10px;
        text-align: center;
    }

    button:hover {
        background-color: rgba($color: #066cf3, $alpha: 1.0);
    }

    .demo-user {
        font-size: 14px;
        padding: 10px;
        width: 65px;
        margin: auto;
        margin-top: 10px;
        padding: 0;
        text-align: center;
        cursor: pointer;
        color: rgba($color: #1475f3, $alpha: 1.0);;
    }

    .demo-user:hover {
        text-decoration: underline;
    }

    hr {
        margin: auto;
        width: 365px;
        color: rgb(212, 212, 212);
    }

    .new-account {
        background-color: rgba($color: #4bb93c, $alpha: 1.0);
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        padding: 10px;
        width: 200px;
        margin: auto;
        margin-top: 30px;
        text-align: center;
        cursor: pointer;
    }

    .new-account:hover {
        background-color: rgba($color: #44a537, $alpha: 1.0);
    }

}
