* {
    background: rgba($color: #eff2f5, $alpha: 1.0);
}

.splash-page {
    position: relative;
    top: 133px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.splash-intro {
    position: relative;
    top: -35px;
    left: 3px;


    p:first-child {
        font-size: 63px;
        font-weight: 800;
        color: rgba($color: #1475f3, $alpha: 1.0);
    }

    p {
        font-size: 30px;
        font-weight: 500;
    }
}

.login-box {
    border: 1.5px solid white;
    background-color: white;
    box-shadow: 0 0 7px rgb(207, 207, 207), 0 0 10px rgb(238, 238, 238), 0 0 21px #fff;
    height: 340px;
    width: 400px;
    border-radius: 10px;
    padding: 2px;

    * {
        background-color: white;
    }

    input {
        border: 1.5px solid rgb(212, 212, 212);
        font-size: 20px;
        padding: 10px;
        width: 372px;
        margin: 10px;
        margin-bottom: 5px;
        border-radius: 10px;
    }

    input:focus::placeholder {
        color: rgba($color: #c4c4c4, $alpha: 1.0);
    }

    button {
        background-color: rgba($color: #1475f3, $alpha: 1.0);
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        padding: 10px;
        width: 372px;
        margin: 10px;
        margin-top: 20px;
        text-align: center;
    }

    button:hover {
        background-color: rgba($color: #066cf3, $alpha: 1.0);
    }

    .demo-user {
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        width: 70px;
        margin: auto;
        margin-top: 10px;
        padding: 0;
        text-align: center;
        cursor: pointer;
        color: rgba($color: #1475f3, $alpha: 1.0);;
    }

    .demo-user:hover {
        text-decoration: underline;
    }

    .hr-top {
        display: none;
    }
    
    .hr-bottom {
        margin: auto;
        width: 365px;
        color: rgb(212, 212, 212);
    }

    .new-account {
        background-color: rgba($color: #4bb93c, $alpha: 1.0);
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        padding: 10px;
        width: 200px;
        margin: auto;
        margin-top: 30px;
        text-align: center;
        cursor: pointer;
    }

    .new-account:hover {
        background-color: rgba($color: #44a537, $alpha: 1.0);
    }

}

#error {
    position: absolute;
    margin-left: 10px;
    color: red;
}

.footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: auto;
    top: 586px;
    background-color: white;
    border: 1.5px solid white;
    box-shadow: 0 0 7px rgb(207, 207, 207), 0 0 10px rgb(238, 238, 238), 0 0 21px #f6f9fc;

    .myInfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: transparent;
        width: 1100px;
        padding-left: 40px;
        padding-right: 40px;
    

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            column-gap: 20px;
            color: #999999;
            background-color: transparent;
            margin-top: 10px;
        }

        ul:first-child {
            margin-top: 25px;
            padding-bottom: 10px;
            column-gap: 50px;
            border-bottom: 1px solid #cacaca;
        }

        li {
            background-color: transparent;
        }

        li:hover {
            cursor: default;
            text-decoration: underline;
        }

        p {
            text-align: start;
            margin-top: 10px;
            margin-bottom: 20px;
            color: #999999;
            background-color: transparent;
        }
    }
}

